---
name: test

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  rspec:
    name: "ruby:${{ matrix.ruby }} rails:${{ matrix.rails }} ${{ matrix.variant }}"
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        ruby:
          - "3.4"
          - "3.3"
          - "3.2"
          - "3.1"
        rails:
          - "8.0"
          - "7.2"
          - "7.1"
          - "7.0"
        variant:
          - ""
          - "no-sprockets"
        exclude:
          - rails: "8.0"
            ruby: "3.1"
          - rails: "7.0"
            ruby: "3.4"

    env:
      BUNDLE_GEMFILE: gemfiles/rails_${{ matrix.rails }}.gemfile
      BUNDLE_WITHOUT: development
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      VARIANT: ${{ matrix.variant }}

    steps:
      - uses: actions/checkout@master
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - run: bundle exec rspec --color

  rubocop:
    name: rubocop
    runs-on: ubuntu-24.04

    env:
      BUNDLE_WITHOUT: development
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3

    steps:
      - uses: actions/checkout@master
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "4.0.1"
          bundler-cache: true

      - run: bundle exec rubocop --parallel --fail-level E
